body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
    color: orange; /*color del texto de la pagina */
    line-height: 1.6;
}



h1, h2, h3 {
    margin-bottom: 1rem; /*espacio entre los titulos y el contenido */
}

main {
    padding: 2rem; /*espacio entre el contenido y los bordes de la pagina */
    max-width: 1960px; /*ancho de la pagina */
    margin: 0 auto; /*centra el contenido de la pagina */
    border-radius: 5px; /*radio de las esquinas de la caja de la tabla */
    box-shadow: 0 2px 5px orange; /*color de la sombra de la caja de la tabla */
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #343a40;
    color: #fff;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

table thead {
    background: #00ff73;    /*color de las tablas fila de estadisticas */
    color: #ca0909;     /*color de las tablas fila de estadisticas, el texto */
}

table th, table td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid black;          /*color de los bordes de las tablas */
}

table tbody tr:nth-child(even) {
    background: purple; /*color de las tablas de las clasificaciones pares*/
}

table tbody tr:hover {
    background: yellow;  /*color al pasar por encima de las tablas de las clasificaciones */
}

/* Section Notes */
section h3 {
    color: pink; /*color de Notas */
    margin-top: 2rem;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin: 0.5rem 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    table th, table td {
        font-size: 0.875rem;
    }
}