<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Página{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/bases.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', path='css/laliga.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/boton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
    
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <!-- Botón hamburguesa para abrir el menú -->
            <div class="hamburger" onclick="document.querySelector('nav').classList.toggle('open')">
                <div></div>
                <div></div>
                <div></div>
            </div>
    
            <!-- Menú de navegación -->
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/laliga">LaLiga</a></li>
                <li><a href="/premierleague">Premier League</a></li>
                <li><a href="/bundesliga">Bundesliga</a></li>
                <li><a href="/seriea">SerieA</a></li>
                <li><a href="/mls">MLS</a></li>
                <li><a href="/ligue1">Ligue1</a></li>
                <li><a href="/jugadores">Jugadores</a></li>
            </ul>
        </nav>
        <h1>{% block header %}Ligas de Fútbol{% endblock %}</h1>
    </header>
    

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Ligas de Fútbol. Todos los derechos reservados. Álvaro Torrado.</p>
    </footer>
</body>
</html>
