{% extends "bases.html" %}

{% block title %}Clasificación de Bundesliga{% endblock %}

{% block header %}Clasificación de Bundesliga{% endblock %}

{% block content %}
<h2>Temporada 2024-25</h2>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Club</th>
            <th>PJ</th>
            <th>V</th>
            <th>E</th>
            <th>D</th>
            <th>GF</th>
            <th>GC</th>
            <th>DG</th>
            <th>Puntos</th>
            <th>Últimos 5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Bayern</td>
            <td>16</td>
            <td>12</td>
            <td>3</td>
            <td>1</td>
            <td>48</td>
            <td>13</td>
            <td>35</td>
            <td>39</td>
            <td>Empate Victoria Derrota Victoria Victoria</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Leverkusen</td>
            <td>17</td>
            <td>10</td>
            <td>6</td>
            <td>1</td>
            <td>40</td>
            <td>23</td>
            <td>17</td>
            <td>36</td>
            <td>Victoria Victoria Victoria Victoria Victoria</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Frankfurt</td>
            <td>17</td>
            <td>9</td>
            <td>4</td>
            <td>4</td>
            <td>36</td>
            <td>23</td>
            <td>13</td>
            <td>31</td>
            <td>Victoria Empate Derrota Derrota Victoria</td>
        </tr>
        <tr>
            <td>4</td>
            <td>RB Leipzig</td>
            <td>16</td>
            <td>9</td>
            <td>3</td>
            <td>4</td>
            <td>28</td>
            <td>22</td>
            <td>6</td>
            <td>30</td>
            <td>Derrota Victoria Victoria Derrota Victoria</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Mainz 05</td>
            <td>17</td>
            <td>8</td>
            <td>5</td>
            <td>4</td>
            <td>30</td>
            <td>20</td>
            <td>10</td>
            <td>29</td>
            <td>Victoria Derrota Victoria Victoria Victoria</td>
        </tr>
    </tbody>
</table>

<section>
    <h3>Notas:</h3>
    <ul>
        <li><strong>Fase de grupos de Champions League:</strong> 1° - 4°</li>
        <li><strong>Fase de grupos de Europa League:</strong> 5°</li>
    </ul>
</section>
{% endblock %}
