{% extends "bases.html" %}

{% block title %}Clasificación de LaLiga{% endblock %}

{% block header %}Clasificación de LaLiga{% endblock %}

{% block content %}
<h2>Temporada 2024-25</h2>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Club</th>
            <th>PJ</th>
            <th>V</th>
            <th>E</th>
            <th>D</th>
            <th>GF</th>
            <th>GC</th>
            <th>DG</th>
            <th>Puntos</th>
            <th>Últimos 5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Atlético de Madrid</td>
            <td>19</td>
            <td>13</td>
            <td>5</td>
            <td>1</td>
            <td>34</td>
            <td>12</td>
            <td>22</td>
            <td>44</td>
            <td>Victoria Victoria Victoria Victoria Victoria</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Real Madrid</td>
            <td>19</td>
            <td>13</td>
            <td>4</td>
            <td>2</td>
            <td>43</td>
            <td>19</td>
            <td>24</td>
            <td>43</td>
            <td>Derrota Victoria Empate Victoria Victoria</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Barcelona</td>
            <td>19</td>
            <td>12</td>
            <td>2</td>
            <td>5</td>
            <td>51</td>
            <td>22</td>
            <td>29</td>
            <td>38</td>
            <td>Derrota Victoria Empate Derrota Derrota</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Athletic</td>
            <td>19</td>
            <td>10</td>
            <td>6</td>
            <td>3</td>
            <td>29</td>
            <td>17</td>
            <td>12</td>
            <td>36</td>
            <td>Victoria Victoria Victoria Empate Victoria</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Villarreal</td>
            <td>19</td>
            <td>8</td>
            <td>6</td>
            <td>5</td>
            <td>34</td>
            <td>31</td>
            <td>3</td>
            <td>30</td>
            <td>Derrota Derrota Empate Victoria Derrota</td>
        </tr>
    </tbody>
</table>

<section>
    <h3>Notas:</h3>
    <ul>
        <li><strong>Fase de grupos de Champions League:</strong> 1° - 4°</li>
        <li><strong>Fase de grupos de Europa League:</strong> 5°</li>
    </ul>
</section>
{% endblock %}
