{% extends "bases.html" %}

{% block title %}Clasificación de Ligue 1{% endblock %}

{% block header %}Clasificación de Ligue 1{% endblock %}

{% block content %}
<h2>Temporada 2024-25</h2>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Club</th>
            <th>PJ</th>
            <th>V</th>
            <th>E</th>
            <th>D</th>
            <th>GF</th>
            <th>GC</th>
            <th>DG</th>
            <th>Puntos</th>
            <th>Últimos 5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>PSG</td>
            <td>17</td>
            <td>13</td>
            <td>4</td>
            <td>0</td>
            <td>46</td>
            <td>15</td>
            <td>31</td>
            <td>43</td>
            <td>Empate Empate Victoria Victoria Victoria</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Marsella</td>
            <td>17</td>
            <td>11</td>
            <td>3</td>
            <td>3</td>
            <td>39</td>
            <td>20</td>
            <td>19</td>
            <td>36</td>
            <td>Victoria Victoria Empate Victoria Victoria</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Mónaco</td>
            <td>17</td>
            <td>9</td>
            <td>4</td>
            <td>4</td>
            <td>28</td>
            <td>18</td>
            <td>10</td>
            <td>31</td>
            <td>Derrota Victoria Empate Derrota Empate</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Niza</td>
            <td>17</td>
            <td>8</td>
            <td>6</td>
            <td>3</td>
            <td>35</td>
            <td>23</td>
            <td>12</td>
            <td>30</td>
            <td>Derrota Victoria Empate Victoria Victoria</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Lille</td>
            <td>17</td>
            <td>7</td>
            <td>8</td>
            <td>2</td>
            <td>26</td>
            <td>16</td>
            <td>10</td>
            <td>29</td>
            <td>Empate Victoria Empate Empate Empate</td>
        </tr>
    </tbody>
</table>

<section>
    <h3>Notas:</h3>
    <ul>
        <li><strong>Fase de grupos de Champions League:</strong> Clasificación para la fase de grupos de la Champions League.</li>
        <li><strong>Clasificados de Champions League:</strong> Equipos que se clasifican a la fase de grupos de la Champions League.</li>
        <li><strong>Fase de grupos de Europa League:</strong> Clasificados para la fase de grupos de la Europa League.</li>
    </ul>
</section>
{% endblock %}
