{% extends "bases.html" %}

{% block title %}Clasificación de la MLS{% endblock %}

{% block header %}Clasificación de la MLS{% endblock %}

{% block content %}
<h2>Temporada 2024-25</h2>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Club</th>
            <th>PJ</th>
            <th>V</th>
            <th>E</th>
            <th>D</th>
            <th>GF</th>
            <th>GC</th>
            <th>DG</th>
            <th>Puntos</th>
            <th>Última ronda</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Inter Miami</td>
            <td>34</td>
            <td>22</td>
            <td>8</td>
            <td>4</td>
            <td>79</td>
            <td>49</td>
            <td>30</td>
            <td>74</td>
            <td>Última ronda</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Columbus Crew</td>
            <td>34</td>
            <td>19</td>
            <td>9</td>
            <td>6</td>
            <td>72</td>
            <td>40</td>
            <td>32</td>
            <td>66</td>
            <td>Última ronda</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Cincinnati</td>
            <td>34</td>
            <td>18</td>
            <td>5</td>
            <td>11</td>
            <td>58</td>
            <td>48</td>
            <td>10</td>
            <td>59</td>
            <td>Última ronda</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Orlando City</td>
            <td>34</td>
            <td>15</td>
            <td>7</td>
            <td>12</td>
            <td>59</td>
            <td>50</td>
            <td>9</td>
            <td>52</td>
            <td>Última ronda</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Charlotte FC</td>
            <td>34</td>
            <td>14</td>
            <td>9</td>
            <td>11</td>
            <td>46</td>
            <td>37</td>
            <td>9</td>
            <td>51</td>
            <td>Última ronda</td>
        </tr>
    </tbody>
</table>

<section>
    <h3>Notas:</h3>
    <ul>
        <li><strong>Última ronda:</strong> Posición final de la temporada regular.</li>
    </ul>
</section>


{% endblock %}
