{% extends "bases.html" %}

{% block title %}Clasificación de la Premier League{% endblock %}

{% block header %}Clasificación de la Premier League{% endblock %}

{% block content %}
<h2>Temporada 2024-25</h2>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Club</th>
            <th>PJ</th>
            <th>V</th>
            <th>E</th>
            <th>D</th>
            <th>GF</th>
            <th>GC</th>
            <th>DG</th>
            <th>Puntos</th>
            <th>Últimos 5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Liverpool</td>
            <td>19</td>
            <td>14</td>
            <td>4</td>
            <td>1</td>
            <td>47</td>
            <td>19</td>
            <td>28</td>
            <td>46</td>
            <td>Empate Victoria Victoria Victoria Empate</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Arsenal</td>
            <td>20</td>
            <td>11</td>
            <td>7</td>
            <td>2</td>
            <td>39</td>
            <td>18</td>
            <td>21</td>
            <td>40</td>
            <td>Empate Victoria Victoria Victoria Empate</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Nottingham Forest</td>
            <td>20</td>
            <td>12</td>
            <td>4</td>
            <td>4</td>
            <td>29</td>
            <td>19</td>
            <td>10</td>
            <td>40</td>
            <td>Victoria Victoria Victoria Victoria Victoria</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Chelsea</td>
            <td>20</td>
            <td>10</td>
            <td>6</td>
            <td>4</td>
            <td>39</td>
            <td>24</td>
            <td>15</td>
            <td>36</td>
            <td>Victoria Empate Derrota Derrota Empate</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Newcastle</td>
            <td>20</td>
            <td>10</td>
            <td>5</td>
            <td>5</td>
            <td>34</td>
            <td>22</td>
            <td>12</td>
            <td>35</td>
            <td>Victoria Victoria Victoria Victoria Victoria</td>
        </tr>
    </tbody>
</table>

<section>
    <h3>Notas:</h3>
    <ul>
        <li><strong>Fase de grupos de Champions League:</strong> 1° - 4°</li>
        <li><strong>Fase de grupos de Europa League:</strong> 5°</li>
    </ul>
</section>


{% endblock %}

                
