{% extends "bases.html" %}

{% block title %}Clasificación de Serie A{% endblock %}

{% block header %}Clasificación de Serie A{% endblock %}

{% block content %}
<h2>Temporada 2024-25</h2>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Club</th>
            <th>PJ</th>
            <th>V</th>
            <th>E</th>
            <th>D</th>
            <th>GF</th>
            <th>GC</th>
            <th>DG</th>
            <th>Puntos</th>
            <th>Últimos 5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Napoli</td>
            <td>20</td>
            <td>15</td>
            <td>2</td>
            <td>3</td>
            <td>32</td>
            <td>12</td>
            <td>20</td>
            <td>47</td>
            <td>Victoria Victoria Victoria Victoria Victoria</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Inter</td>
            <td>18</td>
            <td>13</td>
            <td>4</td>
            <td>1</td>
            <td>46</td>
            <td>15</td>
            <td>31</td>
            <td>43</td>
            <td>Victoria Victoria Victoria Victoria Victoria</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Atalanta</td>
            <td>20</td>
            <td>13</td>
            <td>4</td>
            <td>3</td>
            <td>43</td>
            <td>20</td>
            <td>23</td>
            <td>43</td>
            <td>Victoria Victoria Victoria Empate Empate</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Lazio</td>
            <td>20</td>
            <td>11</td>
            <td>3</td>
            <td>6</td>
            <td>34</td>
            <td>28</td>
            <td>6</td>
            <td>36</td>
            <td>Derrota Victoria Empate Derrota Empate</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Juventus</td>
            <td>20</td>
            <td>7</td>
            <td>13</td>
            <td>0</td>
            <td>31</td>
            <td>16</td>
            <td>15</td>
            <td>34</td>
            <td>Empate Empate Victoria Empate Empate</td>
        </tr>
    </tbody>
</table>

<section>
    <h3>Notas:</h3>
    <ul>
        <li><strong>Fase de grupos de Champions League:</strong> 1° - 4°</li>
        <li><strong>Fase de grupos de Europa League:</strong> 5°</li>
    </ul>
</section>
{% endblock %}
